<!-- <a href="/entries/edit">
  <%- title === 'EDIT' ? 'class="active"' : ''  %>
  <button>
    EDIT
</button>
</a>

<a href="/entries/delete">
  <%- title === 'Delete' ? 'class="active"' : ''  %>
  <button>
    DELETE
</button>
</a> -->