html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #6392df;
  color: #f6f6f6;
  /* Use a system font, if none are available use any found sans-sarif font */
  font-family: system-ui, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 
    'Helvetica Neue', sans-serif;
  margin: 0;
}

.user-avatar{
margin: auto;
padding: 2%;
size: 10px;
text-align: center;

}

.user-name {
  margin: auto;
  width: 5%;
  text-align: center;
  color: #1a1a1a;
  border-radius: 45px;
  height: 15%;
  padding: 2px;
}

.entry-details{
  margin: auto;
  width: 50%;
  text-align: center;
  background-color: #f6f6f6;
  color: #1a1a1a;
  border-radius: 5px;
  height: auto;
  padding: 10px;
  }

.activity-details{
margin: auto;
width: 50%;
text-align: center;
background-color: #f6f6f6;
color: #1a1a1a;
border-radius: 5px;
height: auto;
padding: 10px;
}

button {
  padding: 10px;
  border-radius: 5px;
  background-color: white;
}

.edit-delete-buttons{
  margin: auto;
  text-align: center;
}

#logout{
background-color: #6392df;
color: white;
}

nav {
  background-color: #f6f6f6;
  color: #1a1a1a;
  display: flex;
  align-items: center;
  padding: 10px;
  min-height: 60px;
}

.links-container{
  display: flex;
  width: 525px;
  justify-content: space-evenly;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right {
  margin-left: auto;
}
